[submodule "JWT"]
	path = JWT
	url = https://github.com/mviegas/dotnet-jwt.git
[submodule "RabbitMQ"]
	path = RabbitMQ
	url = https://github.com/mviegas/dotnet-rabbitmq.git
[submodule "Options"]
	path = Options
	url = https://github.com/mviegas/dotnetcore-optionspattern
