[submodule "JWT"]
	path = JWT
	url = https://github.com/mviegas/dotnet-jwt.git
[submodule "RabbitMQ"]
	path = RabbitMQ
	url = https://github.com/mviegas/dotnet-rabbitmq.git
[submodule "Options"]
	path = Options
	url = https://github.com/mviegas/dotnetcore-optionspattern
[submodule "ApiGateway"]
	path = ApiGateway
	url = https://github.com/mviegas/dotnetcore-apigateway
[submodule "DependencyInjection"]
	path = DependencyInjection
	url = https://github.com/mviegas/dotnetcore-dependencyinjection
